<!-- app/views/welcome/about.html.erb -->

<h1>Sobre o Dr.Laécio Alves</h1>
<p>
  <%= "Profissional com cursos em #{ @professional_courses.join(', ') }." %>
  <!-- Adicione outras informações dinâmicas conforme necessário -->
</p>
