<div class="container mx-auto p-6">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">
      O Dr. Laécio Alves
    </h1>
    <p class="text-lg text-gray-600">
      <%= "Profissional com cursos em #{ @professional_courses.join(', ') }." %>
    </p>
  </div>
</div>
