<!-- app/views/welcome/depositions.html.erb -->

<h1>Depositions</h1>
<% @testimonials.each do |testimonial| %>
  <div>
    <p><%= "#{testimonial[:name]} says: #{testimonial[:comment]}" %></p>
    <!-- Adicione outras informações dinâmicas conforme necessário -->
  </div>
<% end %>
