<h1 class= "text-3xl font-bold underline">Hello World!</h1>

<!-- app/views/welcome/index.html.erb -->

<div class="flex justify-center items-center h-screen">
  <img src="Laécio.jpg" alt="Profissional" class="animate-fade-in duration-3000">
</div>

<div class="flex justify-around mt-8">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/services">Services</a>
  <a href="/depositions">Depositions</a>
  <a href="/team">Team</a>
  <a href="/contact">Contact</a>
</div>
