<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <!-- Adicione outros estilos personalizados aqui, se necessário -->
  <title>Sua Página</title>
</head>
<body>

  <!-- Barra Superior -->
  <div class="bg-blue-500 p-40 text-white">
    <div class="container mx-auto">
      <div class="flex justify-around mt-8">
         <a href="/"><i class="fas fa-home"></i></a>
        <a href="/about">Sobre o Dr. Laécio Alves</a>
        <a href="/services">Servisos</a>
        <a href="/depositions">Depoimentos</a>
        <a href="/team">Equipe de Laboratorio</a>
        <a href="/contact">Contato</a>
      </div>
    </div>
  </div>

  <!-- Conteúdo Principal -->
  <div class="container mx-auto mt-8">
    <p>Seu conteúdo principal aqui</p>
  </div>

</body>
</html>
