<!-- app/views/welcome/team.html.erb -->

<h1>Team</h1>
<% @team_members.each do |member| %>
  <div>
    <h2><%= member[:name] %></h2>
    <p><%= "Specialization: #{member[:specialization]}" %></p>
    <p><%= member[:description] %></p>
    <!-- Adicione outras informações dinâmicas conforme necessário -->
  </div>
<% end %>
